data/*
runs/*
model/*
bert/chinese_bert/*
__pycache__/*
bert/__pycache__/
MLP/__pycache__/
RNN/__pycache__/
TextCNN/__pycache__/
transformer/__pycache__/
output.log
output1.log
HAN/__pycache__/
*.pyc
bert/__pycache__/bert.cpython-39.pyc
transformer/__pycache__/transformer.cpython-39.pyc
